<div mat-dialog-title>
  <h3>{{ getTitle() }} Contacto</h3>
</div>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>País</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries"  [value]="country">{{ country }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false" type="button">Cancelar</button>
    <button  [disabled]="!contactForm.valid" type="submit"  mat-flat-button >{{ getTitle() }}</button>
  </div>



</form>
