<section class="mt-1">
  <app-filter [label]="'Nombre'" [placeholder]="'Buscar ...'"/>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      @for(column of displayedColumns(); track $index){
        <ng-container  matColumnDef="position">
        @if (this.sortableColumns().includes(column)) {
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }}</th>
        }@else {
            <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
        }

        </ng-container>

      }



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>
</section>
